# システム共通定義ファイル(全シェルスクリプト共通)
# COMMON.SHLIB
#
# 本システムに属するシェルスクリプトが設定を共通化しなければ
# システムとして成り立たない設定のみをここに記す。
#
# * 設定を変えるとなった場合に、システムに属する全てのシェルスクリプト
#   を書き換えないと不具合が起こるようなもののみ、ここで定義する。
# * 単に共通化しておいた方が綺麗というものに関してはここに書かずに
#   各シェルスクリプトの中に書くこと
#   (Tmpディレクトリーの定義など)


######################################################################
# ファイル・ディレクトリー定義
######################################################################


#Homedir=       # このシステムのホームディレクトリ（通常は設定しない）


######################################################################
# 通信設定
######################################################################

# === 自ホストのルート証明書が古くてWeb APIに接続できない場合、=======
#     この2つを有効化する（脆弱性が上がるため自己責任で）
#no_cert_curl='-k'
#no_cert_wget='--no-check-certificate'


######################################################################
# アカウント情報
######################################################################

readonly MY_scname='あなたのTwitterログイン名（@は含めないこと）'
readonly MY_apikey='発行されたAPIキー'
readonly MY_apisec='発行されたAPIシークレット'
readonly MY_atoken='発行されたアクセストークン'
readonly MY_atksec='発行されたアクセストークンシークレット'
#readonly MY_bearer='gettwid.shコマンドで発行したベアラートークン文字列'
