######################################################################
#
# COMMON.SHLIB -- The Common Configuration File
#
######################################################################


######################################################################
# Files and Directories
######################################################################

#Homedir=       # Home directory of this app (unnecessary to set normally)


######################################################################
# Web access config
######################################################################

# === If you cannot use any kotoriotoko commands at all due to old ===
#     root certificate, enable the following two variables.
#     (But it makes the commands insecurer)
#no_cert_curl='-k'
#no_cert_wget='--no-check-certificate'


######################################################################
# Configurations For Authorizing Kotoriotoko
######################################################################

readonly KOTORIOTOKO_apikey='vzKr0rF0EzsSppDXdzh1ZUz4M'
readonly KOTORIOTOKO_apisec='pEP4LccLOd5i5OYR2XoDPo5WMUhVtb7wqenlBAgIoF6TiHS4YB'


######################################################################
# My account info
######################################################################

# === There are 2 ways to get the followin parameters ================
#     (1) Use "BIN/getstarted.sh" command (recommended)
#     (2) Make your own app on https://apps.twitter.com/ and get them
readonly MY_scname='Set Your Twitter Login Name (without "@")'
readonly MY_apikey='Set Consumer Key (API Key)'
readonly MY_apisec='Set Consumer Secret (API Secret)'
readonly MY_atoken='Set Your Access Token'
readonly MY_atksec='Set Your Access Token Secret'

# === If you want to use "BIN/btw*.sh", run "BIN/getbtwid.sh" ========
#     to get the following parameter
#readonly MY_bearer='Your Bearer Token'
